<div class="container-profile">
    <div class="box-master">
        <div class="box bounce-top">
            <div class="imgBx">
                <img src="assets/images/profile.jpg" alt="profile image">
            </div>
            <ul class="social-icon">
                <li>
                    <a href="">
                        <i class='bx bxl-html5'></i>
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class='bx bxl-sass' ></i>
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class='bx bxl-angular' ></i>
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class='bx bxl-github' ></i>
                    </a>
                </li>
            </ul>
            <div class="details">
                <h2>Helamã Rédua<br> <span>Front-End</span></h2>
            </div>
        </div>
    </div>
    <div class="text-one">
        <p>Eu acredito em um mundo mais igualitário onde todos possam se sentir pertencentes. Acredito em um mundo menos quadrado e sem cor, onde a arte tenha tanto valor quanto o restante das coisas. E não há maneira mais eficiente de tocar e mudar vidas que não seja a inclusão tecnológica.</p> <br>

        <p>Ser um desenvolvedor Front-End e poder proporcionar uma experiência mais amigável e ajudar a melhorar a vida das pessoas já valerá o esforço.</p> <br>

        <p>Em um mundo cada vez mais focado em lucros e custos, ter um olhar criativo para a solução de problemas e capacidade de aprender e se adaptar a novos desafios é o que realmente tem valor...</p> <br>

        <p>Quero ser um transformador no relacionamento do usuário com as empresas, proporcionando experiências únicas e inovadoras.</p> <br>

        <p>O maior combustível da humanidade é a capacidade de sonhar e sonhos eu tenho muitos, então decidi realiza-los através daquilo que eu amo fazer.</p>
    </div>
</div>
<div class="text-img">
    <div class="text-two">
        <p>Sou um Dev Front-End em transFormação.</p> <br>
    
        <p>Me tornando desenvolvedor por paixão e incentivo de amigos próximos.</p> <br>
    
        <p>Sou artista, artesão, e conheci o mundo de Front-End pela minha vontade de aprender. Tenho amigos e tutores me incentivando a continuar a cada dia.</p> <br>
    
        <p>Foi amor ao primeiro code.</p> <br>
    
        <p>Mergulhei em cursos, muito estudo e aqui venho apresentar os resultados dos meus estudos, meus projetos e um pouco da minha vida.</p>
    </div>
    <div class="galeria">
        <img src="assets/images/foto1.jpg" class="foto ">
        <img src="assets/images/foto2.jpg" class="foto ">
        <img src="assets/images/foto3.jpg" class="foto ">
    </div>
</div>
