<div class="master-project">
    <figure class="snip1033">
        <img src="assets/images/404.png" alt="error 404 website" />
        <figcaption>
          <div class="left">
            <h3> <a href="https://www.clan-error404.net/" target="_blank"></a>{{website}}</h3>
          </div>
          <div class="right">
            <h3 class="white"><a href="https://github.com/hredua/controle-error-404" target="_blank"></a>{{github}}</h3>
          </div>
        </figcaption>
        <div class="center"><i class="ion-ios-loop-strong"></i></div>
      </figure>

    <figure class="snip1033">
        <img src="assets/images/restapi.png" alt="error 404 website" />
        <figcaption>
          <div class="left">
            <h3> <a href="https://api-error-404.vercel.app/" target="_blank"></a>{{api}}</h3>
          </div>
          <div class="right">
            <h3 class="white"><a href="https://github.com/hredua/api-error-404/tree/main" target="_blank"></a>{{github}}</h3>
          </div>
        </figcaption>
        <div class="center"><i class="ion-ios-loop-strong"></i></div>
      </figure>

    <figure class="snip1033">
        <img src="assets/images/restapi.png" alt="error 404 website" />
        <figcaption>
          <div class="left">
            <h3> <a href="https://apirestful-controle-personagens.vercel.app/" target="_blank"></a>{{api}}</h3>
          </div>
          <div class="right">
            <h3 class="white"><a href="https://github.com/hredua/api-for-vercel/tree/main" target="_blank"></a>{{github}}</h3>
          </div>
        </figcaption>
        <div class="center"><i class="ion-ios-loop-strong"></i></div>
      </figure>

    <figure class="snip1033">
        <img src="assets/images/tialila.png" alt="Saas website" />
        <figcaption>
          <div class="left">
            <h3>{{breve}}</h3>
          </div>
          <div class="right">
            <h3 class="white"><a href="https://github.com/hredua/tialilah" target="_blank"></a>{{github}}</h3>
          </div>
        </figcaption>
        <div class="center"><i class="ion-ios-loop-strong"></i></div>
      </figure>

    <figure class="snip1033">
        <img src="assets/images/linktree.png" alt="linktree" />
        <figcaption>
          <div class="left">
            <h3><a href="https://linktreehr.netlify.app/" target="_blank"></a>{{website}}</h3>
          </div>
          <div class="right">
            <h3 class="white"><a href="https://github.com/hredua/linktree" target="_blank"></a>{{github}}</h3>
          </div>
        </figcaption>
        <div class="center"><i class="ion-ios-loop-strong"></i></div>
      </figure>

    <figure class="snip1033">
        <img src="assets/images/vampire.jpg" alt="vampire website" />
        <figcaption>
          <div class="left">
            <h3><a href="https://hredua.github.io/freguesdameianoite/" target="_blank"></a>{{website}}</h3>
          </div>
          <div class="right">
            <h3 class="white"><a href="https://github.com/hredua/freguesdameianoite" target="_blank"></a>{{github}}</h3>
          </div>
        </figcaption>
        <div class="center"><i class="ion-ios-loop-strong"></i></div>
      </figure>

      <figure class="snip1033"><img src="assets/images/cards.jpg" alt="cards" />
        <figcaption>
          <div class="left">
            <h3 class="red"><a href="https://hredua.github.io/cards-of-cg/" target="_blank"></a>{{website}}</h3>
          </div>
          <div class="right">
            <h3 class="white"><a href="https://github.com/hredua/cards-of-cg" target="_blank"></a>{{github}}</h3>
          </div>
        </figcaption>
        <div class="center"><i class="ion-ios-loop-strong"></i></div>
      </figure>

      <figure class="snip1033"><img src="assets/images/todo.jpg" alt="to-do list" />
        <figcaption>
          <div class="left">
            <h3 class="red"><a href="https://hredua.github.io/todolist-deploy/" target="_blank"></a>{{website}}</h3>
          </div>
          <div class="right">
            <h3 class="white"><a href="https://github.com/hredua/todolist-deploy" target="_blank"></a>{{github}}</h3>
          </div>
        </figcaption>
        <div class="center"><i class="ion-ios-loop-strong"></i></div>
      </figure>

      <figure class="snip1033"><img src="assets/images/steps.jpg" alt="steps" />
        <figcaption>
          <div class="left">
            <h3 class="red"><a href="https://hredua.github.io/progress-steps/" target="_blank"></a>{{website}}</h3>
          </div>
          <div class="right">
            <h3 class="white"><a href="https://github.com/hredua/progress-steps" target="_blank"></a>{{github}}</h3>
          </div>
        </figcaption>
        <div class="center"><i class="ion-ios-loop-strong"></i></div>
      </figure>
      
      <figure class="snip1033"><img src="assets/images/slam1.jpg" alt="poetry" />
        <figcaption>
          <div class="left">
            <h3 class="red"><a href="https://hredua.github.io/site-poesia/" target="_blank"></a>{{website}}</h3>
          </div>
          <div class="right">
            <h3 class="white"><a href="https://github.com/hredua/site-poesia" target="_blank"></a>{{github}}</h3>
          </div>
        </figcaption>
        <div class="center"><i class="ion-ios-loop-strong"></i></div>
      </figure>
      
      <figure class="snip1033"><img src="assets/images/fable.jpg" alt="fable" />
        <figcaption>
          <div class="left">
            <h3 class="red"><a href="https://hredua.github.io/rpg-fable/" target="_blank"></a>{{website}}</h3>
          </div>
          <div class="right">
            <h3 class="white"><a href="https://github.com/hredua/rpg-fable" target="_blank"></a>{{github}}</h3>
          </div>
        </figcaption>
        <div class="center"><i class="ion-ios-loop-strong"></i></div>
      </figure>
      
</div>