<div class="bg">
    <div class="home-page">
        <div class="social-icon">
            <ul>
                <li> 
                    <a href={{instagram}} target="_blank">
                        <i class='bx bxl-instagram'></i>
                    </a>
                </li>
                <li> 
                    <a href={{linkedin}} target="_blank">
                        <i class='bx bxl-linkedin'></i>
                    </a>
                </li>
                <li> 
                    <a href={{github}} target="_blank">
                        <i class='bx bxl-github'></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="text-content">
            <h1> {{iam}} </h1> <br>
            <p> {{textOne}} <br> {{textTwo}} </p>
            <div class="buttons">
                <button class="btn1" (click)="goToProjetos()">{{btn1}}</button>
                <button class="btn2" (click)="goToSobre()">{{btn2}}</button>
            </div>
        </div>
    </div>
</div>